<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg %n"/>
        </Console>
        <File name="OracleClone" filename="logs/OracleClone.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg %n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.alvaro.database.tools.OracleClone" level="info">
            <AppenderRef ref="OracleClone"/>
        </Logger>
        <Logger name="com.sun.javafx.logging" level="error">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>